<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/custom.css" rel="stylesheet">



<div class="container">
  <h3>Welcome to Siamcomputing.....!</h3>
  <div class="panel panel-default">
    <div class="panel-body user_name"></div>
  </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h4>ToDo List</h4>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                    <ul id="sortable" class="list-unstyled">
                    
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
       
    </div>
</div>
<script type="text/javascript" src="js/saravanan.js"></script>